*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .product{
    display: flex;
    margin: 20px;
    align-items: center;
    padding: 20px;
  }
  .product img{
    width: 100px;
    height: 100px;
    margin-right: 20px;
  }
  .product-info{
    flex: 1;
  }
  #btn{
    width: 200px;
    height: 100px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    padding: 10px;
  }